<%= render("header.html", conn: @conn, inner_content: @inner_content) %>
<div class="page_content p-0">
  <%= render("sidebar_dashboard.html", conn: @conn, inner_content: @inner_content) %>
</div>
<div class="footer d-flex justify-content-center align-items-center">
  <label class="label text-white">@Copyright MIT</label>
</div>
