<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="csrf-token" content={csrf_token_value()}>
  <%= live_title_tag assigns[:page_title] || "Buddi Manager" %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css" )} />
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js" )}></script>
</head>

<body class="root">
  <nav class="navbar main navbar-expand-lg navbar-light d-flex align-items-md-center justify-content-between">
    <div class="mx-2">
      <label class="label logo">Buddi</label>
    </div>
    <div class="mx-2 d-flex align-items-md-center ">
      <span class="material-icons">
        account_circle
      </span>
      <a href="#" class="mx-2 text-light">Logout</a>
    </div>
  </nav>

  <div class="page_content p-0">
    <%= render("sidebar.html", conn: @conn, inner_content: @inner_content) %>
  </div>

  <div class="footer d-flex justify-content-center align-items-center">
    <label class="label text-white">@Copyright MIT</label>
  </div>
</body>

</html>
